.odd {
    background-color: pink;
    font-family: Verdana, "Dajavu Sans", sans-serif;
}

#second {
    color: blue;
    font-size: 36px;
}

#third {
    font-size: 24px;
}

#fourth {
    background-color: #80ef80;
    font-size: 24px;
    font-weight: bold;
}
