.header  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
    font-weight: bold;
    background: papayawhip;
}

.logo {
    font-size: 48px;
    font-weight: 900;
    color: tomato;
    background: white;
    padding: 4px 32px;
    margin: 5px;
}

.left-links ul,
.right-links ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    display: flex;
    gap: 15px;
    padding: 10px;
    margin: 0;
}

a {
    font-size: 22px;
    background: white;
    padding: 8px;
    /* this removes the line under the links */
    text-decoration: none;
}
