* {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 4px;
}

.container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
}

.header {
    background-color: #393f4d;

    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: 1fr 2fr;
}

.header .logo {
    justify-self: start;
}

.menu ul,
.menu li {
    font-size: 16px;
    list-style-type: none;
}

.menu ul {
    padding: 16px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.sidebar {
    background-color: #C50208;

    grid-row: span 10;
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr;
    gap: 50px;
}

.sidebar > div {
    display: grid;
    place-content: center;
}

.sidebar .photo {
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: normal;
    border-radius: 10px;
}


.sidebar .side-content {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: normal;
}

.nav {
    background-color: #C50208;

    display: grid;
    align-items: center;
}

.nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.nav ul li {
    font-size: 16px;
    text-transform: uppercase;
    list-style-type: none;

    display: grid;
    place-content: center;
}

.article {
    background-color: #bccbde;
    grid-row: span 9;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
}

.article .card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    height: 200px;
}

.card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
}

.card .title {
    font-size: 18px;
    text-align: center;
}

.footer {
    background-color: #393f4d;
    grid-column: 1 / -1;
}

.footer p {
    font-size: 13px;
    font-weight: normal;
}
